.comment-container{
    border-bottom:  1px solid #808080;
    margin-bottom: 5px;
    padding: 0 0.5rem 0.5rem 0.5rem;
}
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .date-container{
        color: #808080;
        font-size: small;
    }
}