.button-comments-container {
    background-color: none;
}

.show-hide-button{
    text-decoration: underline;
    border: none;
    background: none;
    text-align: left;
    color: grey;
    cursor: pointer;
}
