.reload-button-container {
    cursor: pointer;
    border: none;
    background: none;
    text-decoration: underline;
    color: grey;
    display: flex;
    align-content: center;
    width: auto;
}

.reload-button-icon{
    display: flex;
    align-self: center;
    width: 13px;
    height: 13px;
    margin-right: 3px;
}
.reload-button-container:disabled{
}