.insides-container {
    background-color: #E6E6E3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    padding: 1.5% 2.5%;
    margin: 0 10%;
    .story-content {
        .story-content-header{
                display: flex;  
                width: 100%;
                flex-direction: column;
                align-items: right;
            
        }
        .story-content-footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .score-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;
                    margin-right: 5px;
            }
            .vote-arrow {
                    width: 12px;
                    height: 12px;
                }
            .grey-small {
                margin-right: 5px;
                color: #808080;
                font-size: smaller;
            }
        }
    }
    .comments-upper-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        flex-wrap: wrap;
    } 
    .go-back-link {
        font-size: small;
        display: flex;
        text-decoration: underline;
        color: grey;
        flex-wrap: wrap;
    }
    
}

.comments-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
